.App {
  background-color: rgba(105, 98, 207, 0.185);
  border-radius: 10px;
}

.imagem {
  width: 70%;
  border-radius: 50%;
  justify-content: right;
}

.tarefa-content {

}


.tarefa-content div p {
  border: 1px solid pink;

}

.tarefa-title {
  font-family: Arial, Helvetica, sans-serif;
}